@import '../../styles/_config';

.button {
  align-items: center;
  background-color: transparent;
  border: none;
  color: $gray;
  cursor: pointer;
  display: flex;
  justify-content: center; 
  
  & :hover {
    color: $green;
  }
}
