//cores
$black: #232323;
$green: #02FF86;
$white: #FFFF;
$gray: #625f5f;

//fontes
$primary-font: 'Hind', sans-serif;
$light-font: 300;
$regular-font: 400;
$medium-font: 500;
$semib-font: 600;
$bold-font: 700;


// tamanhos tela
$sm: 460px;
$md: 768px;
$lg: 1024px;
