//cores
$black: #232323;
$gray: #625f5f;
$green: #02FF86;
$white: #FFFF;

//cores cards
$card-green: #27856a;
$card-bluelight:#3d91f4;
$card-pinklight:#f15e6c;
$card-yellow: #ffa42b;
$card-blue: #0d72ea;
$card-purplelight: #b49bc8;
$card-darkblue: #1e3264;

//fontes
$primary-font: 'Hind', sans-serif;
$light-font: 300;
$regular-font: 400;
$medium-font: 500;
$semib-font: 600;
$bold-font: 700;


// tamanhos tela
$sm: 460px;
$md: 768px;
$lg: 1024px;
