@import '../../styles/_config';

.main__title {
  color: $white;
  padding: px-to-rem(15);
  font-size: px-to-rem(16);
}

.wrapper-category {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  @media(min-width: $xs) {
    justify-content: flex-start;
  }

}
