@import '../../styles/_config';

.card {
  background-color: $card-green;
  border-radius: px-to-rem(8);
  height: px-to-rem(150);
  margin: px-to-rem(15);
  width: px-to-rem(140);
  position: relative;
  overflow: hidden;  
 
  &__img {
    height: px-to-rem(85);
    position: absolute;
    right: 0;
    bottom: 0;
    transform: rotate(24deg) translate(10%, -3%);
    width: px-to-rem(85);    
  }

  &__title {
    color: $white;
    font-size: px-to-rem(20);
    font-weight: $semib-font;
    padding: px-to-rem(8);
    line-height: px-to-rem(26);
  }

}
