@import '../../styles/_config';

.card {
  border-radius: px-to-rem(8);
  cursor: pointer;
  height: px-to-rem(150);
  margin: px-to-rem(12);
  overflow: hidden;
  position: relative;
  width: px-to-rem(140);
 
  &__img {
    bottom: 0;
    height: px-to-rem(85);
    position: absolute;
    right: 0;
    transform: rotate(24deg) translate(13%, 3%);
    width: px-to-rem(85);    
  }

  &__title {
    color: $white;
    font-size: px-to-rem(18);
    font-weight: $semib-font;
    line-height: px-to-rem(26);
    padding: px-to-rem(8);
  }

}
