@import '../../styles/_config';

.link--token {
  align-items: center;  
  background-color: $green; 
  border-radius: px-to-rem(10);
  border: none;
  color: $black;  
  cursor: pointer;
  display: flex;
  font-family: 'Hind', sans-serif;
  font-size: px-to-rem(16);
  font-weight: $semib-font;
  justify-content: center;
  padding: px-to-rem(6);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  width: px-to-rem(80);

  @media (min-width: $md) {
    font-size: px-to-rem(18);
    padding: px-to-rem(4); 
    width:px-to-rem(100);
  }

  &:hover {
    background-color: $white;
    transform: scale(1.1);  
  }
}
